In [ ]:
import numpy as np
import os
from datetime import date
import re

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import pandas as pd
pd.options.display.max_rows = 10
matplotlib.rcParams['figure.figsize'] = (15, 6)

import mpl_finance

In [2]:
dji_data = pd.read_csv("/data/stocks/upload_DJIA_table.csv", index_col="Date")[::-1]
dji_data

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2008-08-08,11432.089844,11759.959961,11388.040039,11734.320312,212830000,11734.320312
2008-08-11,11729.669922,11867.110352,11675.530273,11782.349609,183190000,11782.349609
2008-08-12,11781.700195,11782.349609,11601.519531,11642.469727,173590000,11642.469727
2008-08-13,11632.809570,11633.780273,11453.339844,11532.959961,182550000,11532.959961
2008-08-14,11532.070312,11718.280273,11450.889648,11615.929688,159790000,11615.929688
...,...,...,...,...,...,...
2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,138740000,17140.240234
2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,112190000,17409.720703
2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,106380000,17694.679688
2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000,17929.990234
2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141

In [ ]:
from matplotlib.dates import DayLocator, DateFormatter, MonthLocator

def plot_candle_volume(data_frame):
    ax1 = data_frame.plot.bar(y="Volume", color="silver")
    plt.ylabel("Volume")
    plt.xticks(rotation=45)
    ax2 = ax1.twinx()
    plt.ylabel("Price")
    mpl_finance.candlestick2_ohlc(ax2, data_frame["Open"], data_frame["High"], data_frame["Low"], data_frame["Close"], width=0.6, colorup='g', colordown='r')
    plt.show()
    
def plot_candle(data_frame):
    fig, ax1 = plt.subplots()
    plt.ylabel("Price")
    mpl_finance.candlestick2_ohlc(ax1, data_frame["Open"], data_frame["High"], data_frame["Low"], data_frame["Close"], width=0.6, colorup='g', colordown='r')
    plt.show()

In [ ]:
plot_candle_volume(dji_data[:40])

In [ ]:
plot_candle(dji_data[:1000])

In [ ]:
plt.plot(dji_data["Adj Close"].diff().dropna().values)

In [20]:
from tqdm.notebook import tqdm
import h5py
import io

def load_vectors(fname):    
    data = {}
    with open(fname, 'r', encoding='utf-8', newline='\n', errors='ignore') as fin:
        n, d = (int(i) for i in fin.readline().split())
        for line in tqdm(fin, total=n):
            tokens = line.rstrip().split(' ')
            data[tokens[0]] = np.array([float(t) for t in tokens[1:]], dtype=np.float16)
    return data

In [21]:
word_vecs = load_vectors("../data/stocks/wiki-news-300d-1M.vec")

HBox(children=(IntProgress(value=0, max=999994), HTML(value='')))

In [22]:
import pickle

with open("../data/stocks/wiki-news-300d-1M.p", mode='wb') as fout:
    pickle.dump(word_vecs, fout)

In [36]:
np.sum(word_vecs[""])

-0.194